
:host{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.gallery_wrapp{
  display: flex;
  flex: auto;
}

@media screen and (max-width: 768px){
.gallery_wrapp{
  align-items: flex-start;
  flex-direction: column;
}
}